body {
	background-image: url("http://designwoop.com/uploads/2012/03/20_free_subtle_textures_floral_patterns.jpg");
}

#geld, #wacht {
	text-align: center;
	font-size: 23px;
	font-family: 'arvo';
}

#wrap {
	margin: auto;
	width: 100%;
	max-width: 800px;
}

.knop1 {
	cursor: pointer;
	border-radius: 50px;
	text-align: center;
	margin: 30px;
	height: 250px;
	float: left;
	width: 40%;
	background: linear-gradient(to bottom right, red, rgb(255,150,0));
	box-shadow: 6px 6px 7px #888888;
	border: 1px solid black;
}

.knop2 {
	cursor: pointer;
	border-radius: 50px;
	text-align: center;
	margin: 30px;
	height: 250px;
	float: left;
	width: 40%;
	background: linear-gradient(to bottom right, rgb(0,130,255), rgb(0,255,255));
	box-shadow: 6px 6px 7px #888888;
	border: 1px solid black;
}

[id='1'],[id='3'] {
	font-weight: bold;
	font-family: 'arvo';
	margin-top: 30%;
	font-size: 30px;
	color: rgb(0,0,0);
}

[id='2'], [id='4'] {
	font-weight: bold;
	font-family: 'arvo';
	margin-top: 30%;
	font-size: 30px;
	color: rgb(255,164,0);
}

#wacht {
	color: red;
	font-size: 20px;
}

#onder {
	text-align: center;
	font-size: 10px;
	margin-top: 40%;
}